:root {
  --main: #10455b;
  --sec: #ffaf20;
  --txt: #f9f3ed;
}

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}

.texto-secundario {
  color: var(--sec);
}

.mostra-menu {
  display: none;
}

.navbar-toggler {
  background-color: #333;
}

.barra-menu {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  background-color: #333;
}

.sociais a {
  text-decoration: none;
}

.sociais a :hover,
.menu a:hover {
  color: var(--sec) !important;
  transition: all 0.3s ease-out;
}

.sociais a :focus,
.menu a:focus {
  color: var(--sec) !important;
  transition: all 0.3s ease-out;
}
/*testw*/
.barra-menu ul li a,
.barra-menu ul li a:after,
.barra-menu ul li a:before {
  transition: all 0.5s;
}

.barra-menu ul li a {
  position: relative;
  z-index: 1;
}
.barra-menu ul li a:hover {
  color: var(--txt) !important;
}
.barra-menu ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: var(--sec);
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.barra-menu ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/* */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.navbar {
  background-color: transparent !important;
  color: var(--txt);
  width: 100%;
  z-index: 10;
  opacity: 0.93;
}

.navbar ul {
  padding: 0;
  list-style: none;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: var(--txt);
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
  margin: 2px;
}

.vitrine {
  background-image: url("../img/bkg2.JPG");
  min-height: 100%;
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

ul {
  display: inline-block;
}

.textimg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: var(--txt);
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 0.2rem 1rem;
}

.textbaixo {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  letter-spacing: 2px;
  background: rgba(73, 73, 73, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.sobre .textbaixo,
.contato .textbaixo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.sobre {
  padding-top: 20px;
  background-color: var(--main);
  color: var(--txt);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.retrato {
  margin: auto;
}

.retrato img {
  border: solid var(--sec);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.bioinfo-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 15px;
}

.info-bio {
  text-align: justify;
  font-size: 1.6rem;
}

.acadcard-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 15px;
}

.acadcard-container h5 {
  text-transform: uppercase;
  font-style: italic;
  padding-top: 10px;
}
.acad-info {
  background: #444;
  padding: 0.5rem;
  border-bottom: var(--sec) 5px solid;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.acad-info li {
  margin-left: 10px;
  text-align: left;
}

.acad-info img {
  width: 100%;
}

.interrog p {
  margin-top: 50px;
  font-size: 4rem;
  text-align: center;
}

.p-menor {
  font-size: 1rem;
  text-align: justify;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.desenvolvimento {
  padding-top: 20px;
  background-image: url("../img/bkg6.jpg");
  min-height: 100%;
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

.desenvolvimento .textbaixo {
  color: var(--txt);
  text-align: justify;
  background: rgba(3, 3, 3, 0.6);
}

.desenvolvimento-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  margin-bottom: 15px;
}

.compet-info {
  color: var(--txt);
  opacity: 0.9;
  background: #333;
  padding: 0.5rem;
  border-bottom: var(--sec) 5px solid;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

.contato {
  padding-top: 20px;
  background-color: var(--main);
  color: var(--txt);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.box h1 {
  color: var(--txt);
  text-transform: uppercase;
  font-weight: 500;
}

.contato-container {
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas:
    "dds msg"
    "bts bts";
  float: left;
  position: relative;
}

.centraliza {
  display: flex;
  justify-content: center;
}

.dados {
  grid-area: dds;
}

.mensagem {
  grid-area: msg;
}

textarea {
  width: 500px;
  padding: 3px;
  max-width: 500px;
}

::placeholder {
  color: var(--sec) !important;
}

.botoes {
  text-align: center;
  grid-area: bts;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="tel"],
.box textarea {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--txt);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: var(--txt);
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="tel"]:focus,
.box textarea:focus {
  width: 280px;
  border-color: var(--sec);
}

.box input[type="submit"],
.box input[type="reset"] {
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--txt);
  padding: 14px 40px;
  outline: none;
  color: var(--txt);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"],
.box input[type="reset"]:hover {
  background: #333;
}

.rodape {
  text-align: center;
  background: #333;
  color: var(--txt);
  height: 60px;
}

.rodape div {
  display: block;
  float: none;
  margin-bottom: 10px;
}

@media (max-width: 538px) {
  .container {
    width: 100%;
  }

  .navbar li {
    margin-bottom: 15px;
    display: block;
    border: 2px solid var(--sec);
  }

  .mostra-menu {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }

  .navbar {
    background-color: #333 !important;
  }

  .textimg {
    text-align: center;
  }

  section.vitrine,
  section.desenvolvimento {
    background-attachment: scroll;
  }

  .desenvolvimento-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .sobre-container {
    grid-template-areas:
      "bioimage"
      "bio";
  }

  .contato-container {
    grid-template-areas:
      "dds"
      "msg"
      "bts"
      "bts";
  }
  .desenvolvimento h1 {
    font-size: 2.3rem;
  }
}
